<!DOCTYPE html>
<html>
  <head>
    <title>Paradigm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <nav class="spmenu spmenu-vertical spmenu-right" id="spmenu-s2">
      <%= render 'layouts/navlinks' %>
    </nav>

    <div class="spmenu-overlay"></div>
    <div class="page-wrapper spmenu-push">
    <div class="page-wrapper">

      <%= yield %>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>

    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script>
      // Home Page

      (function($) {
        $('.header-16-sub-home').each(function() {
          if (! isMobile.any() ) {
            $(this).parallax('50%', 0.3, true);
          } else {
            $(this).css('background-attachment', 'initial')
          }
        })
      }(jQuery));

      (function($) {
        $('.content-20-home').each(function() {
          if (! isMobile.any() ) {
            $(this).parallax('50%', 0.3, true);
          } else {
            $(this).css('background-attachment', 'initial')
          }
        })
      }(jQuery));

      (function($) {
        $('.content-23-home').each(function() {
          if (! isMobile.any() ) {
            $(this).parallax('50%', 0.3, true);
          } else {
            $(this).css('background-attachment', 'initial')
          }
        })
      }(jQuery));
    </script>

  </body>
</html>
